<h3>
  <strong>Take on the Quest!</strong>
</h3>
<%= form_for Booking.new, url: quest_booking_path(@quest) do |f| %>
  <p><%= f.text_field :start_date, class: 'datepicker', placeholder: 'Start Date' %></p>
  <p><%= f.text_field :end_date, class: 'datepicker', placeholder: 'End Date' %></p>
  <%= f.hidden_field :quest_id, value: @quest.id %>
  <!-- <p><input type="date" class="datepicker" placeholder="Start Date"></p>
  <p><input type="date" class="datepicker" placeholder="End Date"></p> -->
  <!--Submit Button-->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Make payment</button>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">One last step ...</h4>
	      </div>
	      <div class="modal-body">
	        <div id='dropin'>
	        </div>
	      </div>
	      <div class="modal-footer">
  				<button class="btn btn-block btn-primary" type="submit" name="action">Book now!</button>
	      </div>
	    </div>

	  </div>
	</div>
<% end %>

<script type="text/javascript">
  function setupBT() {
    braintree.setup("<%= @client_token %>", 'dropin', {
      container: 'dropin'
    });
  }

  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;
</script>
