<%= render 'shared/session_navbar'%>

<section style="background:#efefe9;" class="padding-top">
    <!-- <div class='container'> -->
  <div class='row'>
    <%= form_for [current_user, @quest] do |q| %>
    <div class="board">
        <div class='board-inner'>
            <ul class="nav nav-tabs" id="myTab">
                <div class="liner"></div>
                <li class="active">
                    <!-- home -->
                    <a href="#main" data-toggle="tab" title="Quest"> <span class="round-tabs one">
      		<i class="glyphicon glyphicon-home"></i>
      	</span> </a>
                </li>
                <!-- profile -->
                <li class="disabled">
                    <a href="#activities" data-toggle="tab" title="Activity"> <span class="round-tabs two">
      	  <i class="glyphicon glyphicon-user"></i>
        </span> </a>
                </li>
                <!-- messages -->
                <li class="disabled">
                    <a href="#result" data-toggle="tab" title="Submit"> <span class="round-tabs three">
       	 <i class="glyphicon glyphicon-gift"></i>
        </span> </a>
                </li>
            </ul>
        </div>
        <!-- </div> -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="main">
              	<h3 class="head text-center">Quest details</h3>
              <div class="form-horizontal text-center" id="main_form" name="main_form" role="form">
                    <%= render partial: 'quests/form', locals: { q: q } %>
                    <fieldset>
                        <button type="submit" href="#activities" name="main_form" class="btn-submit btn btn-success btn-outline-rounded green"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span>
                        </button>
                    </fieldset>
              </div>
            </div>
            <div class="tab-pane fade" id="activities">
                <h3 class="head text-center">Adding Activities</h3>
                <div class="form-horizontal text-center" id="activities_form" name="activities_form" role="form">
                    <%= render partial: 'quests/activity_form', locals: { q: q } %>
                    <fieldset>
                        <button type="submit" href="#result" name="result_form" class="btn-submit btn btn-success btn-outline-rounded green"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span>
                        </button>
                    </fieldset>
                </div>
            </div>
            <div class="tab-pane fade" id="result">
                <h3 class="head text-center">You're all set!</h3>
                <p class="narrow text-center">Share your amazing quest to the nomads, for them to experience what you have experienced</p>
                <div class="form-horizontal text-center" id="result_form" name="result_form" role="form">
                  <fieldset>
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id='quest_submit'>
                      	Publish now<i class="material-icons">add</i></button>
                      <div>
                        <a class="login-circle twitter">
                          <span class="fa fa-twitter fa-fw"></span>
                        </a>
                        <a class="login-circle instagram">
                           <i class="fa fa-instagram fa-fw"></i>
                        </a>
                        <a class="login-circle facebook">
                           <i class="fa fa-facebook fa-fw"></i>
                        </a>
                      </div>
                  </fieldset>
                </div>
            </div>
          </div>
        </div> <!-- board -->
      <% end %>
    </div> <!-- row -->
  </div>
</section>

<footer>
	<%= render 'shared/footer' %>
</footer>
