<h1>Make new quest</h1>
<%= form_for [current_user, @quest] do |q| %>
	<div><%= q.label :title %>
		<%= q.text_field :title %></div>

	<!-- dropdown/number input -->
	<div><%= q.label :duration %>
		<%= q.text_field :duration %></div>

	<!-- countrystateselect gem or google api? -->
	<div><%= q.label :country %>
		<%= q.text_field :country %></div>

	<!-- countrystateselect gem or google api? -->
	<div><%= q.label :city %>
		<%= q.text_field :city %></div>

	<!-- javascript needed to fix upper range -->
	<div><%= q.label :lower_price %>
		<%= q.text_field :lower_price %>
	</div>

	<div><%= q.label :upper_price %>
		<%= q.text_field :upper_price %></div>

	<div><%= q.label :category %>
		<%= q.text_field :category %></div>

	<div><%= q.label :description %>
		<%= q.text_area :description %></div>

	<p>Activities</p>
	<%= q.fields_for :activities do |a| %>
		<div><%= a.label :day %>
				<%= a.text_field :day %></div>

		<div><%= a.label :description %>
				<%= a.text_area :description %></div>

		<div><%= a.label :estimated_time %>
				<%= a.text_field :estimated_time %></div>

		<div><%= a.label :location %>
				<%= a.text_field :location %></div>

		<div><%= a.label :price %>
				<%= a.text_field :price %>
		</div>
		<div><%= a.label :references %>
				<%= a.text_field :references %></div>
	<% end %>

	<%= q.submit %>
<% end %>
