
<div class="container">
<div class="form-style-3">
<fieldset><legend>Plan a New Quest!</legend>
    <div class="row">
        <%= form_for [current_user, @quest], html: { class: 'form-vertical center' } do |q| %>

          <div><%= q.label :title %>
            <%= q.text_field :title %></div>

          <!-- dropdown/number input -->
            <div><%= q.label :duration %>
            <select class="form-control" id="durationselect">
            <!-- replace %=q.text_field :duration%-->
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select></div>

          <!-- countrystateselect gem or google api? -->
          <div><%= q.label :country %>
            <%= q.text_field :country %></div>

          <!-- countrystateselect gem or google api? -->
          <div><%= q.label :city %>
            <%= q.text_field :city %></div>

          <!-- javascript needed to fix upper range -->
          <div><%= q.label :lower_price %>
            <%= q.text_field :lower_price %>
          </div>

          <div><%= q.label :upper_price %>
            <%= q.text_field :upper_price %></div>

          <div><%= q.label :category %>
            <%= q.text_field :category %></div>

          <div><%= q.label :category %>
            <select class="form-control" id="durationselect">
            <!-- replace %=q.text_field :category%-->
                <option>Backpack</option>
                <option>Couple</option>
                <option>Family</option>
                <option>Friends</option>
            </select></div>

          <div><%= q.label :description %>
            <%= q.text_area :description %></div>

    </div>

    <div class="row">
        

        <ul class="tabs">
          <li class="tab-link current" data-tab="tab-1">Day 1</li>
          <li class="tab-link" data-tab="tab-2">Day 2</li>
          <li class="tab-link" data-tab="tab-3">Day 3</li>
          <li class="tab-link" data-tab="tab-4">Day 4</li>
        </ul>

        <div id="tab-1" class="tab-content current">
        <div id='activities_form'>
    <%= link_to 'Add new day', '#', id: 'addDay' %>
    <div class='row' style='padding-bottom: 20px;'>
      <div class='well quest-day col-md-4' id='quest-day-1'>
        <%= q.fields_for :activities do |a| %>
          <p>
            <strong>Day 1 Activities</strong>
            <span><a href="#" class='remove_day' style='color: red;'>x</a></span>
          </p>
          <%= link_to 'Add new activity', '#', class: 'btn btn-primary btn-sm addActivity', 'data-day' => 1 %>
          <div class='quest-day-1-activities', id='quest-day-1-activity-1'>
            <p>
              <strong>Activity 1</strong>
              <span><a href="#" class='remove_activity' style='color: red;'>x</a></span>
            </p>
            <div><%= a.label :description %>
                <%= a.text_area :description %></div>

            <div><%= a.label :estimated_time %>
                <%= a.text_field :estimated_time %></div>

            <div><%= a.label :location %>
                <%= a.text_field :location %></div>

            <div><%= a.label :price %>
                <%= a.text_field :price %>
            </div>
            <div><%= a.label :references %>
                <%= a.text_field :references %></div>

            <div><%= a.hidden_field :day, value: '1'%></div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
          
        </div>
        <div id="tab-2" class="tab-content">
           <div id='activities_form'>
    <%= link_to 'Add new day', '#', id: 'addDay' %>
    <div class='row' style='padding-bottom: 20px;'>
      <div class='well quest-day col-md-4' id='quest-day-1'>
        <%= q.fields_for :activities do |a| %>
          <p>
            <strong>Day 1 Activities</strong>
            <span><a href="#" class='remove_day' style='color: red;'>x</a></span>
          </p>
          <%= link_to 'Add new activity', '#', class: 'btn btn-primary btn-sm addActivity', 'data-day' => 1 %>
          <div class='quest-day-1-activities', id='quest-day-1-activity-1'>
            <p>
              <strong>Activity 1</strong>
              <span><a href="#" class='remove_activity' style='color: red;'>x</a></span>
            </p>
            <div><%= a.label :description %>
                <%= a.text_area :description %></div>

            <div><%= a.label :estimated_time %>
                <%= a.text_field :estimated_time %></div>

            <div><%= a.label :location %>
                <%= a.text_field :location %></div>

            <div><%= a.label :price %>
                <%= a.text_field :price %>
            </div>
            <div><%= a.label :references %>
                <%= a.text_field :references %></div>

            <div><%= a.hidden_field :day, value: '1'%></div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
        </div>
        <div id="tab-3" class="tab-content">
          <div id='activities_form'>
    <%= link_to 'Add new day', '#', id: 'addDay' %>
    <div class='row' style='padding-bottom: 20px;'>
      <div class='well quest-day col-md-4' id='quest-day-1'>
        <%= q.fields_for :activities do |a| %>
          <p>
            <strong>Day 1 Activities</strong>
            <span><a href="#" class='remove_day' style='color: red;'>x</a></span>
          </p>
          <%= link_to 'Add new activity', '#', class: 'btn btn-primary btn-sm addActivity', 'data-day' => 1 %>
          <div class='quest-day-1-activities', id='quest-day-1-activity-1'>
            <p>
              <strong>Activity 1</strong>
              <span><a href="#" class='remove_activity' style='color: red;'>x</a></span>
            </p>
            <div><%= a.label :description %>
                <%= a.text_area :description %></div>

            <div><%= a.label :estimated_time %>
                <%= a.text_field :estimated_time %></div>

            <div><%= a.label :location %>
                <%= a.text_field :location %></div>

            <div><%= a.label :price %>
                <%= a.text_field :price %>
            </div>
            <div><%= a.label :references %>
                <%= a.text_field :references %></div>

            <div><%= a.hidden_field :day, value: '1'%></div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
        </div>
        <div id="tab-4" class="tab-content">
          <div id='activities_form'>
    <%= link_to 'Add new day', '#', id: 'addDay' %>
    <div class='row' style='padding-bottom: 20px;'>
      <div class='well quest-day col-md-4' id='quest-day-1'>
        <%= q.fields_for :activities do |a| %>
          <p>
            <strong>Day 1 Activities</strong>
            <span><a href="#" class='remove_day' style='color: red;'>x</a></span>
          </p>
          <%= link_to 'Add new activity', '#', class: 'btn btn-primary btn-sm addActivity', 'data-day' => 1 %>
          <div class='quest-day-1-activities', id='quest-day-1-activity-1'>
            <p>
              <strong>Activity 1</strong>
              <span><a href="#" class='remove_activity' style='color: red;'>x</a></span>
            </p>
            <div><%= a.label :description %>
                <%= a.text_area :description %></div>

            <div><%= a.label :estimated_time %>
                <%= a.text_field :estimated_time %></div>

            <div><%= a.label :location %>
                <%= a.text_field :location %></div>

            <div><%= a.label :price %>
                <%= a.text_field :price %>
            </div>
            <div><%= a.label :references %>
                <%= a.text_field :references %></div>

            <div><%= a.hidden_field :day, value: '1'%></div>
          </div>
        <% end %>

      </div>
    </div>
    </div>
    </div>
  <div input type="submit"><%= q.submit %></div>
<% end %>
</div>
</fieldset>
</div>
</div>
