<section class="grid-wrap">
  <ul class="grid swipe-down" id="grid">
    <li class="title-box">
      <h2>Illustrations by <a href="http://ryotakemasa.com/">Ryo Takemasa</a></h2>
    </li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
    <li><a href="#"><%= image_tag("dummy.png") %><h3>A fantastic title</h3></a></li>
  </ul>
</section>

<script src="js/masonry.pkgd.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/colorfinder-1.1.js"></script>
<script src="js/gridScrollFx.js"></script>
<script>
  new GridScrollFx( document.getElementById( 'grid' ), {
    viewportFactor : 0.4
  } );
</script>
