<h2 style="font-size: large; "> User dashboard </h2>
<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">

        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img alt="Profile pic" src="/assets/Brian.jpg" class="img-responsive" alt="" />
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%=@user.first_name%> <%=@user.last_name%>
          </div>
          <div class="profile-usertitle-job">
            Nomad
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
            <%= link_to 'Edit profile', edit_user_path(current_user) %>
            </li>
            <li>
            <%= link_to 'Log Out', sign_out_path, method: :delete %>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <div class="row">
          <div class="col-md-4">
            <h2>Wish List</h2>
            <%= link_to '#' do %>
              <%=image_tag("wish_list.png", size:"100x100")%>
            <% end %>
          </div>

          <div class="col-md-4">
            <h2>Wallet</h2>
            <%= link_to '#' do %>
              <%=image_tag("wallet.png", size:"100x100")%>
            <% end %>
          </div>

          <div class="col-md-4">
            <h2>Post a Quest</h2>
            <%= link_to new_user_quest_path(current_user) do%>
              <%=image_tag("post.png", size:"100x100")%>
            <% end %>
          </div>

          <div class="col-md-4" style="margin-top: 30px";>
            <h2>Upcoming Quests</h2>
              <%= link_to '#' do %>
              <%=image_tag("Quests.png", size:"100x100")%>
            <% end %>
          </div>

          <div class="col-md-4" style="margin-top: 30px";>
            <h2>Conquests</h2>
              <%= link_to '#' do %>
              <%=image_tag("goal.png", size:"100x100")%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
