<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" >
      <div class="container">
        <ul class="sidebar-nav padding-top">
            <div class="profile-userpic">
              <img alt="Profile pic" src="/assets/Brian.jpg" class="img-responsive" alt="" />
            </div>

            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                Brian Tan
              </div>
              <div class="profile-usertitle-job">
                Nomad
              </div>
            </div>
            <div class="profile-userbuttons">
              <button type="button" class="btn btn-success btn-sm">Follow</button>
            </div>
            <div class="profile-usermenu">
              <ul class="nav">
                <li class="active">
                  <%= link_to 'Edit profile', edit_user_path(current_user) %>
                </li>
                <li>
                  <a href="#">Post a quest</a>
                </li>
                <li>
                  <a href="#">Wallet</a>
                </li>
                <li>
                  <a href="#">Wish List</a>
                </li>
                <li>
                  <a href="#">Upcoming Quests</a>
                </li>
                <li>
                  <a href="#">Conquests</a>
                </li>
              </ul>
        </div>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          Wishlist <div class="line r"></div>
                        </div>
                        <div class="panel-body">
                          <%= link_to '#' do %>
                            <%=image_tag("wish_list.png", size:"100x100")%>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 panel panel-default">
                    <h2>Wallet</h2>
                    <%= link_to '#' do %>
                      <%=image_tag("wallet.png", size:"100x100")%>
                    <% end %>
                </div>
            </div>

                    <div class="col-md-4">
                      <h2>Post a Quest</h2>
                        <%= link_to '#' do %>
                        <%=image_tag("post.png", size:"100x100")%>
                      <% end %>
                    </div>

                    <div class="col-md-4" style="margin-top: 30px";>
                      <h2>Upcoming Quests</h2>
                        <%= link_to '#' do %>
                        <%=image_tag("Quests.png", size:"100x100")%>
                      <% end %>
                    </div>

                    <div class="col-md-4" style="margin-top: 30px";>
                      <h2>Conquests</h2>
                        <%= link_to '#' do %>
                        <%=image_tag("goal.png", size:"100x100")%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->



<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
