<p style="font-size: large; "> User dashboard </p>


<div class="container">
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
        <img alt="Profile pic" src="/assets/Brian.jpg" class="img-responsive" alt="" />

        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Brian Tan
          </div>
          <div class="profile-usertitle-job">
            Nomad
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
            <%= link_to 'Edit profile', edit_user_path(current_user) %>
            </li>
            <li>
            <%= link_to 'Log Out', sign_out_path, method: :delete %>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
            <div class="profile-content">
            <div class="row">
            <div class="col-md-4">
                <h2>Wish List</h2>
                <img alt="Wish List" src="/assets/wish.png" width="90" height="90" align="middle" />
                <%= link_to 'Wish List', '/wishlist' %>
                </div>
              <div class="col-md-4">
                <h2>Wallet</h2>
                <img alt="wallet" src="/assets/wallet_icon.png" width="90" height="90"/>
                <%= link_to 'Wallet', '#' %>
              </div>
              <div class="col-md-4">
                <h2>Post a Quest</h2>
                <img alt="Quest" src="/assets/Quest.png" width="90" height="90"/>
                <%= link_to 'Post a Quest', '#' %>
              </div>
                <div class="col-md-4">
                <h2>Upcoming Quests</h2>
                <img alt="Quest" src="/assets/Quest.png" width="90" height="90"/>
                <%= link_to 'Upcoming quests', '/upcoming' %>
              </div>
              <div class="col-md-4">
                <h2>Conquests</h2>
                <img alt="Quest" src="/assets/goal.png" width="90" height="90"/>
                <%= link_to 'Quests History', '/history' %>
              </div>
            </div>
            </div>
    </div>
  </div>
</div>
<center>

</center>
<br>
<br>