<header>
  <% if signed_in? %>
      <%= render "shared/session_navbar" %>
    <% else %>
      <%= render "shared/nosession_navbar" %>
  <% end %>
</header>

<body>

<div id="hero-container" class="container-fluid">
  <div class="hero-welcome">
      <div class="site-wrapper-inner">
        <div class="hero-text">
          	It's time to go on an adventure.
        </div>

      <div class="row">
        <div class="col-xs-12 hero-circle">
          <%=image_tag('circle.png') %>
        </div>
      </div>
    </div>
  </div>
</div> <!-- hero-container -->

<section id="deals">
  <div class="container-fluid padding" style="background-color:#f7f7f7">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1> How does it work?<br>
							<span class="lead">Simple.</span>
					</h1>
				</div>
			</div>
		</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
							<%= image_tag('step1.png') %>
              <h3>Create a Quest</h3>
              <p class="lead">
                Been an awesome holiday before?<br>
								Post it up!
              </p>
            </div>

            <div class="col-md-4 text-center">
							<%= image_tag('step2.png') %>
              <h3>Share it</h3>
              <p class="lead">
                Let fellow Nomads add to their wish list.
              </p>
            </div>

            <div class="col-md-4 text-center">
							<%= image_tag('step3.png') %>
              <h3>Get paid</h3>
              <p class="lead">
                Bigger the wish list the higher your income!
              </p>
            </div>
          </div>
      </div>
  </div>
</section> <!-- Deals section -->


<section id="carousel" class="padding">
  <%= render "shared/carousel" %>
</section>

<div class="container-fluid" style="background-color:rgb(34, 34, 34);">
	<div class="row padding">
		<div class="col-md-12 text-center">
			<h2 style="color:white;">
				HELP US, HELP YOU!<br>
				<span class=lead>
					Add your favorite quests to your wish list and we will do the rest.<br>
					Don't forget to share!
				</span>
			</h2>
		</div>
	</div>
</div>

<section id="grid-wrap">
    <%= render "shared/grid" %>
</section>


</body>

<footer>
  <%= render "shared/footer" %>
</footer>
