<header>
  <% if signed_in? %>
      <%= render "shared/session_navbar" %>
    <% else %>
      <%= render "shared/nosession_navbar" %>
  <% end %>
</header>


<div class="padding-top">
  <div class="padding-top">
		<section id="carousel" class="padding">
		  <%= render "shared/carousel" %>
		</section>
  </div>
</div>

<div class="container-fluid" style="background-color:rgb(34, 34, 34);">
	<div class="row padding">
		<div class="col-md-12 text-center">
			<h2 style="color:white;">
				HELP US, HELP YOU!<br>
				<span class=lead>
					Add your favorite quests to your wish list and we will do the rest.<br>
					Don't forget to share!
				</span>
			</h2>
		</div>
	</div>
</div>

<div>
  <%= render "shared/grid" %>
</div>

<footer>
  <%= render "shared/footer" %>
</footer>
