<!DOCTYPE html>
<html>

<head>
  <title>Nomad</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1", user-scalable="no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

	<body>
		<header>
			<h3 style='display: inline;'><%= link_to 'Nomad', root_path %></h3>
			<% if signed_in? %>
			  <%= link_to current_user.first_name, dashboard_path %>
			  <%= link_to 'Sign out', sign_out_path, method: :delete %>
			<% else %>
			  <%= link_to 'Sign in', sign_in_path %>
			  <%= link_to 'Join Us', sign_up_path %>
			<% end %>
		</header>
		<div id="flash">
		  <% flash.each do |key, value| %>
		    <div class='alert alert-<%= key %>'><%= value %></div>
		  <% end %>
		</div>
		<div id="main-content">
			<%= yield %>
		</div>
	</body>
</html>
